:host {
    --slds-c-card-radius-border: 20px;
    --slds-c-card-spacing-inline-end: 24px;
    --slds-c-card-spacing-inline-start: 24px;
    --slds-c-card-spacing-block-end: 32px;
    --slds-c-card-spacing-block-start: 32px;
    --slds-c-card-sizing-border: 0;
    --slds-c-card-heading-font-size: 12px;
    --slds-c-input-shadow-focus: none;
    height: 800px;
    border-style: none;
    padding: 24px;
    border: none;
    margin: 16px 0;
    color: rgba(24, 24, 24, 0.95);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.006em;
    line-height: 16px;
}

lightning-input:last-of-type {
    color: red;
}