:host {
    --slds-c-card-radius-border: 1.25rem;
    --slds-c-card-spacing-inline-end: 1.5rem;
    --slds-c-card-spacing-inline-start: 1.5rem;
    --slds-c-card-spacing-block-end: 2rem;
    --slds-c-card-spacing-block-start: 2rem;
    --slds-c-card-sizing-border: 0;
    --slds-c-input-shadow-focus: none;
    --slds-c-card-header-spacing-block: 0;
    --slds-c-card-header-spacing-inline: 0;
    --lwc-cardFontWeight: 700;
    --lwc-fontSize9: 1.5rem;
    height: 59rem;
    max-height: 95vh;
    display: block;
    border-style: none;
    border: none;
    margin: 1rem 0;
    color: rgba(24, 24, 24, 0.95);
    font-size: .813rem;
    font-weight: 400;
    letter-spacing: -0.006em;
    line-height: 1rem;
}

lightning-input:last-of-type {
    color: red;
}

.button-wrapper lightning-button {
    display: flex;
    justify-content: center;
}